@{
    ViewBag.Title = "Sistema PEUA";
}

<div class="row" >
    <img class="img-responsive" src="http://egresados.uantof.cl/wp-content/uploads/2015/04/logo2.png" />
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empleadores</h2>
        <p>
            
        </p>
        <a class="btn btn-default" href="@Url.Action("index","Empleadors")">Ir a Empleador</a>
    </div>
    <div class="col-md-4">
        <h2>Carrera</h2>
        <p></p>
        <a class="btn btn-default" href="@Url.Action("index","Carreras")">Ir a Carrera</a>

    </div>
    <div class="col-md-4">
        <h2>Actividad</h2>
        <p></p>
        <a class="btn btn-default" href="@Url.Action("index","Actividads")">Ir a Actividad</a>
    </div>
</div>